.result {
  font-size: 45px;
}

.not-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.wrapper {
	height: 100vh;
  display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
}