.result {
  font-size: 45px;
}

.not-auth {
  // min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  flex: auto;
}