.auth__input {
  padding: 0.9rem 1rem;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 0.75rem;
}
.auth__controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.auth__input:focus {
  outline: none;
  border-color: #ffe44d;
  caret-color: #ffe44d;
}

.textarea {
  height: auto;
  min-height: 100px;
  resize: none;
}

.auth__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.auth__info {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #7b8e98;
  margin: 0;
}
.auth__error {
  margin: 0;
  color: rgb(209, 34, 34);
  font-size: 12px;
}
.auth__link {
  cursor: pointer;
}
.auth__link:hover {
  text-decoration: underline;
}
