* {
	box-sizing: inherit;
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

html {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 95%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.content {
	padding: 20px 0;
}

.content__sort {
	margin-bottom: 40px;
}