.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  width: 356px;
  border-radius: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  cursor: pointer;
}

.yellow {
  border: none;
  background-color: #FFE44D;
}

.white {
  border: 1px solid #ECEFF1;
  background: white;
}